<div class="container-grid">
    <% cards.forEach((card, index) => { %>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Name: <%= card.name %></h5>
                <div>Surame: <%= card.surname %></div>
                <div>Active: <%= card.active %></div>

                <button type="button" data-id="<%= card.id %>" class="btn btn-danger btn_delete">Delete</button>
                <button type="button" data-id="<%= card.id %>" class="btn btn-primary btn_edit">Edit</button>
            </div>
        </div>
    <% }); %>
</div>