
<%- include('partials/header') %>

<main class="content">
    <%- include('partials/message') %>
    <%- include('partials/input_card') %>
    <%- include('partials/cards') %>
</main>

<%- include('partials/footer') %>
